<p>
    Hi {{ content.username }},
</p>

<p>
    An image similar to <a href="{{ content.source_link }}">this</a> was posted
    to {{ content.site_name }} by {{ content.poster_name }}.
    You can see it <a href="{{ content.similar_link }}">here</a>.
</p>

<p>
    If you have any feedback or concerns about these results, please feel free to reply to this email.
</p>

<hr>

<p>
    To unsubscribe from future notification emails, please <a href="{{ content.unsubscribe_link }}">click here</a>.
</p>
