{% block header %}
<style>
  .relative-time {
    white-space: nowrap;
  }
</style>
{% endblock %}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title has-text-centered">Admin</h1>
      </div>
    </div>

    <div class="columns is-centered is-desktop">
      <div class="column is-one-third-desktop">
        <div class="block">
          {% include "_inject_submission.html" %}
        </div>
      </div>

      <div class="column is-two-thirds-desktop">
        <div class="block">
          {% include "_monitored_subreddits.html" %}
        </div>

        <div class="block">
          {% include "_flist_import_runs.html" %}
        </div>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="control">
          <a href="/" class="button is-link is-fullwidth">Return Home</a>
        </div>
      </div>
    </div>
  </div>
</section>
