<div class="block">
  <h2 class="subtitle is-4">Inject Submission</h2>

  <form method="POST" action="/admin/inject">
    <div class="field">
      <label class="label" for="image-url">Image URL</label>
      <div class="control">
        <input class="input" type="url" placeholder="Image URL" name="content_url" id="image-url" required>
      </div>
    </div>

    <div class="field">
      <label class="label" for="page-url">Page URL</label>
      <div class="control">
        <input class="input" type="url" placeholder="Page URL" name="page_url" id="page-url">
      </div>
    </div>

    <div class="field">
      <label class="label" for="posted-by">Posted By</label>
      <div class="control">
        <input class="input" type="text" placeholder="Posted By" name="posted_by" id="posted-by">
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-warning">Inject</button>
      </div>
    </div>
  </form>
</div>

<div class="block">
  <h2 class="subtitle is-4">Inject Job</h2>

  <form method="POST" action="/admin/jobs/manual">
    <div class="field">
      <label class="label" for="job-name">Job Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Job Name" name="name" id="job-name" required autocapitalize="off" autocomplete="off">
      </div>
    </div>

    <div class="field">
      <label class="label" for="job-type">Inject Type</label>
      <div class="control">
        <div class="select">
          <select name="job_type" id="job-type">
            <option value="single">Single</option>
            <option value="each_account">Each Account</option>
            <option value="each_user">Each User</option>
          </select>
        </div>
      </div>

      <div class="help">
        <ul>
          <li>
            <strong>Single</strong> &mdash; A single instance of this job is created
          </li>
          <li>
            <strong>Each Account</strong> &mdash; A job is created for each linked account, <code>account_id</code> is added to data
          </li>
          <li>
            <strong>Each User</strong> &mdash; A job is created for each user account, <code>user_id</code> is added to data
          </li>
        </ul>
      </div>
    </div>

    <div class="field">
      <label class="label" for="job-data">Job Data</label>
      <div class="control">
        <textarea class="textarea" name="data" id="job-data" autocapitalize="off" autocomplete="off" rows="3"></textarea>
      </div>

      <p class="help">
        Data associated with each job. Empty data is omitted. Using <strong>Each Account</strong> or <strong>Each User</strong> requires data to be empty or an object.
      </p>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-warning" id="inject-job">Inject</button>
      </div>
    </div>
  </form>
</div>
