@use "bulma/sass";

@use "bootstrap-icons/font/bootstrap-icons.scss" with (
  $bootstrap-icons-font-dir: "bootstrap-icons/font/fonts"
);

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.relative-time {
  white-space: nowrap;
}

.match-link {
  text-overflow: ellipsis;
}

.content h1 {
  text-align: center;
}

code {
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.footer-image {
  width: 183px;
  height: 183px;
}

.height-400 {
  height: 400px;
}
