{% extends "_base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title has-text-centered">FuzzySearch OwO</h1>
        <h2 class="subtitle has-text-centered">Link Account</h2>

        <div class="block">
          <form method="POST" action="/user/account/link">
            <div class="field">
              <label class="label">Site</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="site" id="site-select">
                    <option value="FurAffinity">FurAffinity</option>
                    <option value="Patreon">Patreon</option>
                    <option value="DeviantArt">DeviantArt</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field" id="username-input">
              <label class="label">Username</label>
              <div class="control">
                <input class="input" type="text" placeholder="Username" name="username" autocomplete="off">
              </div>
            </div>

            <div class="control">
              <button class="button is-primary is-fullwidth">Begin Linking</button>
            </div>
          </form>

          <hr>

          <a href="/user/home" class="button is-danger has-text-centered">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const noFormSites = ['Patreon', 'DeviantArt'];

  const usernameInput = document.getElementById('username-input');

  document.getElementById('site-select').addEventListener('change', (ev) => {
    if (noFormSites.includes(ev.target.value)) {
      usernameInput.style.display = 'none';
    } else {
      usernameInput.style.display = 'block';
    }
  });
</script>
{% endblock %}
