<section class="section" data-account-id="{{ account.id }}">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <h1 class="title has-text-centered">
          {{ account.source_site.to_string() }} &mdash;
          <strong>{{ account.username }}</strong>
        </h1>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Status</p>
              <p class="title" id="account-loading-state">{{ account.loading_state() }}</p>

              {% if account.is_loading() %}
              <progress id="account-import-progress" class="progress is-small is-primary mt-2"
                max="100">Unknown</progress>
              {% endif %}
            </div>
          </div>

          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Items</p>
              <p class="title">{{ item_count }}</p>
            </div>
          </div>

          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Content Size</p>
              <p class="title">{{ total_content_size|filesizeformat }}</p>
            </div>
          </div>
        </nav>
      </div>
    </div>

    {% match account.verification_key() %}
    {% when Some with (verification_key) %}
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="block">
          <article class="message is-warning">
            <div class="message-header">
              <p>Verify Account</p>
            </div>

            <div class="message-body">
              <p class="block">
                You must verify your account before posts can be imported. Please add the following token somewhere on
                your public profile. As soon as your account has been verified you may remove the token.
              </p>

              <p class="block">
                <code id="verification-key">{{ verification_key }}</code>
              </p>

              <div class="block">
                <div class="control">
                  <button class="button is-fullwidth is-primary" id="verify-account">Verify Account</button>
                </div>
              </div>
            </div>
            </message>
        </div>
      </div>
    </div>
    {% else %}
    {% endmatch %}

    {% if !recent_media.is_empty() %}
    <div class="columns is-centered">
      <div class="column has-text-centered">
        <h2 class="subtitle is-4">Recent Media</h2>

        {% for item in recent_media %}
        {% match item.thumb_url %}
        {% when Some with (thumb_url) %}
        <figure class="image is-128x128 is-inline-block" style="overflow: hidden;">
          <a href="/user/media/view/{{ item.id.as_url() }}">
            {% match item.content_url %}
            {% when Some with (content_url) %}
            <img src="{{ thumb_url }}" alt="{{ item.alt_text() }}">
            {% else %}
            <img src="{{ thumb_url }}" alt="{{ item.alt_text() }}">
            {% endmatch %}
          </a>
        </figure>
        {% else %}
        {% endmatch %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="columns is-centered">
      <div class="column is-one-third">
        {% if item_count > 20 %}
        <div class="control">
          <a href="/user/media/list?account_id={{ account.id.as_url() }}" class="button is-link is-fullwidth">View All Media</a>
        </div>

        <hr>
        {% endif %}

        {% if account.show_twitter_archive_import() %}
        <div class="block">
          <form action="/twitter/archive" method="POST" class="chunk-uploader">
            <input type="hidden" name="account_id" value="{{ account.id }}">
            <input type="hidden" name="collection_id">

            <div class="field">
              <div class="file is-boxed is-centered has-name">
                <label class="file-label">
                  <input class="file-input" type="file" accept="application/zip" data-file-name-label="#archive-label"
                    data-upload-button="#archive-upload-button">
                  <span class="file-cta">
                    <span class="file-label">Select Archive</span>
                  </span>
                  <span class="file-name" id="archive-label">No File Selected</span>
                </label>
              </div>

              <div class="help content">
                <p>
                  Upload your Twitter archive to import photos from all of your Tweets. Files besides the following may be removed if desired.
                </p>

                <ul>
                  <li><code>data/tweet.js</code> and any part files</li>
                  <li><code>data/tweet_media/</code> and all photos within</li>
                </ul>
              </div>
            </div>

            <div class="control">
              <progress class="progress is-link is-hidden"></progress>
              <button id="archive-upload-button" class="button is-link is-fullwidth is-outlined upload-button"
                disabled>Upload</button>
            </div>
          </form>
        </div>
        {% endif %}

        <div class="block">
          <form method="POST" action="/user/account/remove">
            <input type="hidden" name="account_id" value="{{ account.id }}">

            <div class="field">
              <div class="control">
                <button class="button is-danger is-outlined" id="delete-account">Remove Linked Account</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
