{% extends "_base.html" %}

{% macro small_pagination(data) %}
<nav class="pagination is-justify-content-end">
  {% let last_page = data.last_page() %}

  {% match data.previous_page() %}
  {% when Some with (previous_page) %}
  <a class="pagination-previous" href="{{ data.url(previous_page) }}">Previous</a>
  {% else %}
  <a class="pagination-previous is-disabled" href="{{ data.url(0) }}" title="This is the first page" disabled>
    Previous
  </a>
  {% endmatch %}

  {% match data.next_page() %}
  {% when Some with (next_page) %}
  <a class="pagination-next" href="{{ data.url(next_page) }}">Next page</a>
  {% else %}
  <a class="pagination-next is-disabled" href="{{ data.url(last_page) }}" title="This is the last page" disabled>
    Next page
  </a>
  {% endmatch %}
</nav>
{% endmacro %}

{% macro pagination(data) %}
<nav class="pagination">
  {% let last_page = data.last_page() %}

  {% match data.previous_page() %}
  {% when Some with (previous_page) %}
  <a class="pagination-previous" href="{{ data.url(previous_page) }}">Previous</a>
  {% else %}
  <a class="pagination-previous is-disabled" href="{{ data.url(0) }}" title="This is the first page" disabled>
    Previous
  </a>
  {% endmatch %}

  {% match data.next_page() %}
  {% when Some with (next_page) %}
  <a class="pagination-next" href="{{ data.url(next_page) }}">Next page</a>
  {% else %}
  <a class="pagination-next is-disabled" href="{{ data.url(last_page) }}" title="This is the last page" disabled>
    Next page
  </a>
  {% endmatch %}

  <ul class="pagination-list">
    <li>
      <a class="pagination-link {% if data.current_page == 0 %}is-current{% endif %}" href="{{ data.url(0) }}">1</a>
    </li>

    {% if data.current_page > 2 %}
    <li class="is-hidden-touch">
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    {% endif %}

    {% for page_number in data.display_lower()..data.display_upper() %}
    <li>
      <a class="pagination-link {% if page_number == data.current_page %}is-current{% endif %}" href="{{ data.url(page_number) }}">{{ page_number + 1 }}</a>
    </li>
    {% endfor %}

    {% if last_page != 0 %}
    {% if data.current_page < last_page.saturating_sub(3) %}
    <li class="is-hidden-touch">
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    {% endif %}

    <li>
      <a class="pagination-link {% if data.current_page == last_page %}is-current{% endif %}" href="{{ data.url(last_page) }}">{{ last_page + 1 }}</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}

{% macro option(name, value, selected) %}
  {% let is_selected = selected == value %}
  <option value="{{ value }}" {% if is_selected %}selected{% endif %}>
    {{ name }}
  </option>
{% endmacro %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds-desktop">
        <h1 class="title has-text-centered">FuzzySearch OwO</h1>
        <h2 class="subtitle has-text-centered">All Media</h2>

        {% if !media.is_empty() %}
        <div class="columns is-desktop">
          <div class="column is-one-third-desktop">
            <form method="GET">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select name="sort">
                      {% call option("Date Added", "added", sort) %}
                      {% call option("Number of Events", "events", sort) %}
                      {% call option("Recent Events", "recent", sort) %}
                    </select>
                  </div>
                </div>

                <div class="control">
                  <button class="button is-primary">Sort</button>
                </div>
              </div>
            </form>
          </div>

          <div class="column">
            {% call small_pagination(pagination_data) %}
          </div>
        </div>

        <div class="table-container">
          <table class="table is-fullwidth">
            <thead class="has-text-left">
              <tr>
                <th>Preview</th>
                <th>Title</th>
                <th>Added</th>
                <th>Last Event</th>
                <th>Event Count</th>
              </tr>
            </thead>
            <tbody>
              {% for item in media %}
              <tr>
                <td>
                  {% match item.thumb_url %}
                  {% when Some with (thumb_url) %}
                  <figure class="image is-128x128 is-inline-block" style="overflow: hidden;">
                    <a href="/user/media/view/{{ item.id }}">
                      <img src="{{ thumb_url }}" alt="{{ item.alt_text() }}">
                    </a>
                  </figure>
                  {% else %}
                  <p class="image is-128x128 has-text-centered">
                    <a href="/user/media/view/{{ item.id }}">
                      No preview available
                    </a>
                  </p>
                  {% endmatch %}
                </td>
                <td>
                  <a href="/user/media/view/{{ item.id }}">
                    {% match item.title %}
                    {% when Some with (title) %}
                    {{ title }}
                    {% else %}
                    <span class="has-text-grey">Untitled</span>
                    {% endmatch %}
                  </a>
                </td>
                <td>
                  <span class="relative-time" data-timestamp="{{ item.last_modified.timestamp() }}">
                    {{ item.last_modified }}
                  </span>
                </td>
                <td>
                  {% match item.last_event %}
                  {% when Some with (last_event) %}
                  <span class="relative-time" data-timestamp="{{ last_event.timestamp() }}">
                    {{ last_event }}
                  </span>
                  {% else %}
                  <span class="has-text-grey">No&nbsp;events</span>
                  {% endmatch %}
                </td>
                <td>
                  {% if item.event_count > 0 %}
                  {{ item.event_count }}
                  {% else %}
                  <span class="has-text-grey">No&nbsp;events</span>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="notification is-warning">
          No more items were found.
        </div>
        {% endif %}

        {% call pagination(pagination_data) %}
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="control">
          <a href="/user/home" class="button is-link is-fullwidth is-outlined">Return Home</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
