{% import "_pagination.html" as pagination %}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds-desktop">
        {% match account %}
        {% when Some with (account) %}
        <h1 class="title has-text-centered">
          Media on <a href="/user/account/{{ account.id.as_url() }}">{{ account.source_site.to_string() }} &mdash; {{ account.username }}</a>
        </h1>
        {% else %}
        <h1 class="title has-text-centered">All Media</h1>
        {% endmatch %}

        {% if !media.is_empty() %}
        <div class="columns is-desktop">
          <div class="column is-one-third-desktop">
            <form method="GET">
              {% match account %}
              {% when Some with (account) %}
              <input type="hidden" name="account_id" value="{{ account.id }}">
              {% else %}
              {% endmatch %}

              <div class="field has-addons">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select name="sort">
                      {% call pagination::option("Date Added", "added", sort) %}
                      {% call pagination::option("Number of Events", "events", sort) %}
                      {% call pagination::option("Recent Events", "recent", sort) %}
                    </select>
                  </div>
                </div>

                <div class="control">
                  <button class="button is-primary">
                    <span class="icon-text">
                      <span>Sort</span>
                      <span class="icon">
                        <i class="bi bi-sort-down"></i>
                      </span>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="column">
            {% call pagination::small_pagination(pagination_data) %}
          </div>
        </div>

        <div class="table-container">
          <table class="table is-fullwidth">
            <thead class="has-text-left">
              <tr>
                <th>Preview</th>
                <th>Title</th>
                <th>Added</th>
                <th>Last Event</th>
                <th>Event Count</th>
              </tr>
            </thead>
            <tbody>
              {% for item in media %}
              <tr>
                <td>
                  {% match item.thumb_url %}
                  {% when Some with (thumb_url) %}
                  <figure class="image is-128x128 is-inline-block overflow-hidden">
                    <a href="/user/media/view/{{ item.id.as_url() }}">
                      <img src="{{ thumb_url }}" alt="{{ item.alt_text() }}">
                    </a>
                  </figure>
                  {% else %}
                  <p class="image is-128x128 has-text-centered">
                    <a href="/user/media/view/{{ item.id.as_url() }}">
                      No preview available
                    </a>
                  </p>
                  {% endmatch %}
                </td>
                <td>
                  <a href="/user/media/view/{{ item.id.as_url() }}">
                    {% match item.best_title() %}
                    {% when Some with (title) %}
                    {{ title }}
                    {% else %}
                    <span class="has-text-grey">Untitled</span>
                    {% endmatch %}
                  </a>
                </td>
                <td>
                  <span class="relative-time" data-timestamp="{{ item.last_modified.timestamp() }}">
                    {{ item.last_modified }}
                  </span>
                </td>
                <td>
                  {% match item.last_event %}
                  {% when Some with (last_event) %}
                  <span class="relative-time" data-timestamp="{{ last_event.timestamp() }}">
                    {{ last_event }}
                  </span>
                  {% else %}
                  <span class="has-text-grey">No&nbsp;events</span>
                  {% endmatch %}
                </td>
                <td>
                  {% if item.event_count > 0 %}
                  {{ item.event_count }}
                  {% else %}
                  <span class="has-text-grey">No&nbsp;events</span>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="notification is-warning">
          No more items were found.
        </div>
        {% endif %}

        {% call pagination::pagination(pagination_data) %}
      </div>
    </div>
  </div>
</section>
