<section class="section" data-media-id="{{ media.id }}">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        {% match media.best_title() %}
        {% when Some with (title) %}
        <h1 class="title has-text-centered">{{ title }}</h1>
        {% else %}
        <h1 class="title has-text-centered">Media Item</h1>
        {% endmatch %}

        {% match media.posted_most_recently() %}
        {% when Some with (posted_at) %}
          <h3 class="subtitle has-text-centered absolute-time" data-timestamp="{{ posted_at.timestamp() }}">
            {{ posted_at }}
          </h3>
        {% else %}
        {% endmatch %}

        <div class="block">
          {% match media.content_url %}
          {% when Some with (content_url) %}
          <figure class="image is-align-self-center">
            <img src="{{ content_url }}" alt="{{ media.alt_text() }}">
          </figure>
          {% else %}
          <p>No image found.</p>
          {% endmatch %}
        </div>
      </div>
    </div>

    {% if !similar_media.is_empty() %}
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="notification is-info">
          There are other uploads that appear to be very similar to this one. Would you like to merge them?
        </div>

        <form method="post" action="/user/media/merge">
          <input type="hidden" name="merge_ids" value="{{ media.id }}">

          <div>
            {% for media in similar_media %}
            <div class="columns">
              <div class="column is-narrow">
                <a href="/user/media/view/{{ media.id.as_url() }}">
                  {% match media.thumb_url %}
                  {% when Some with (thumb_url) %}
                  <figure class="image is-128x128 is-inline-block" style="overflow: hidden;">
                    <img src="{{ thumb_url }}" alt="{{ media.alt_text() }}">
                  </figure>
                  {% else %}
                  <span>No image found.</span>
                  {% endmatch %}
                </a>
              </div>

              <div class="column">
                <label class="checkbox">
                  <input type="checkbox" name="merge_ids" value="{{ media.id }}">
                  Include in merge
                </label>
              </div>
            </div>
            {% endfor %}
          </div>

          <div>
            <div class="control is-flex-grow-1">
              <button class="button is-fullwidth is-info">
                <span class="icon-text">
                  <span class="icon">
                    <i class="bi bi-lightning-charge-fill"></i>
                  </span>
                  <span>Merge</span>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% endif %}

    {% if !similar_image_events.is_empty() %}
    <div class="columns is-centered">
      <div class="column">
        <h2 class="subtitle has-text-centered">Matched Images</h2>

        <div class="table-container">
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Site</th>
                <th>Posted By</th>
                <th>Found</th>
                <th>Link</th>
                <th class="has-text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for (created_at, image) in similar_image_events %}
              <tr>
                <td>{{ image.site }}</td>
                <td>
                  {% match image.posted_by %}
                  {% when Some with (posted_by) %}
                  {{ posted_by }}
                  {% else %}
                  <span class="has-text-grey">Unknown</span>
                  {% endmatch %}
                </td>
                <td>
                  <span class="relative-time" data-timestamp="{{ created_at.timestamp() }}">
                    {{ created_at }}
                  </span>
                </td>
                <td>
                  <span class="match-link">
                    <a href="{{ image.best_link() }}" target="_blank">{{ image.best_link()|clean_link }}</a>
                  </span>
                </td>
                <td class="has-text-right">
                  <form method="POST">
                    <input type="hidden" name="redirect_url" value="{{ url }}">
                    <input type="hidden" name="site" value="{{ image.site.to_string() }}">
                    <input type="hidden" name="site_username" value="{{ image.posted_by.as_deref().unwrap_or_default() }}">
                    {% match image.poster_pair() %}
                    {% when Some with (poster_pair) %}
                    {% if allowlisted_users.contains_key(poster_pair) %}
                    <button formaction="/user/allowlist/remove" class="button">
                      <span class="icon-text">
                        <span class="icon">
                          <i class="bi bi-clipboard-x-fill"></i>
                        </span>
                        <span>Un-Allowlist Poster</span>
                      </span>
                    </button>
                    {% else %}
                    <button formaction="/user/allowlist/add" class="button">
                      <span class="icon-text">
                        <span class="icon">
                          <i class="bi bi-clipboard-plus"></i>
                        </span>
                        <span>Allowlist Poster</span>
                      </span>
                    </button>
                    {% endif %}
                    {% else %}
                    <button class="button is-text" disabled>No Actions Available</button>
                    {% endmatch %}
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}

    {% if !other_events.is_empty() %}
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h2 class="subtitle has-text-centered">Other Events</h2>

        <ul>
          {% for event in other_events %}
            <li>{{ event.display() }}
              <span class="pl-3 has-text-weight-light has-text-grey relative-time" data-timestamp="{{ event.created_at.timestamp() }}">
                {{ event.created_at }}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    {% if !media.accounts().is_empty() %}
    <div class="columns is-centered">
      <div class="column">
        <div class="block">
          <h2 class="subtitle has-text-centered">My Uploads</h2>

          <div class="table-container">
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Uploaded</th>
                  <th>Link</th>
                </tr>
              </thead>
              <tbody>
                {% for account in media.accounts() %}
                <tr>
                  <td>
                    {% match account.title %}
                    {% when Some with (title) %}
                    {{ title }}
                    {% else %}
                    <span class="has-text-grey">Untitled</span>
                    {% endmatch %}
                  </td>
                  <td>
                    {% match account.posted_at %}
                    {% when Some with (posted_at) %}
                      <span class="relative-time" data-timestamp="{{ posted_at.timestamp() }}">
                        {{ posted_at }}
                      </span>
                    {% else %}
                      <span class="has-text-grey">Unknown</span>
                    {% endmatch %}
                  </td>
                  <td><a href="{{ account.link }}">{{ account.link|clean_link }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="block">
          <form method="POST" action="/user/media/remove">
            <input type="hidden" name="media_id" value="{{ media.id }}">
            <div class="control is-flex-grow-1">
              <button class="button is-fullwidth is-danger">
                <span class="icon-text">
                  <span class="icon">
                    <i class="bi bi-trash-fill"></i>
                  </span>
                  <span>Remove Media</span>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
