{% extends "_base.html" %}

{% block header %}
<style>
  .relative-time {
    white-space: nowrap;
  }

  .match-link {
    text-overflow: ellipsis;
  }
</style>
{% endblock %}

{% block content %}
<section class="section" data-media-id="{{ media.id }}">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title has-text-centered">FuzzySearch OwO</h1>

        {% match media.title %}
        {% when Some with (title) %}
        <h2 class="subtitle has-text-centered">{{ title }}</h2>
        {% else %}
        <h2 class="subtitle has-text-centered">Media Item</h2>
        {% endmatch %}

        {% match media.posted_at %}
        {% when Some with (posted_at) %}
          <h3 class="subtitle has-text-centered">{{ posted_at }}</h3>
        {% else %}
        {% endmatch %}

        <div class="block">
          {% match media.content_url %}
          {% when Some with (content_url) %}
          <figure class="image is-align-self-center">
            <img src="{{ content_url }}" alt="{{ media.alt_text() }}">
          </figure>
          {% else %}
          <p>No image found.</p>
          {% endmatch %}
        </div>

        {% if !similar_image_events.is_empty() %}
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column">
        <h2 class="subtitle has-text-centered">Matched Images</h2>

        <div class="table-container">
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Site</th>
                <th>Posted By</th>
                <th>Found</th>
                <th>Link</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for (created_at, image) in similar_image_events %}
              <tr>
                <td>{{ image.site }}</td>
                <td>
                  {% match image.posted_by %}
                  {% when Some with (posted_by) %}
                  {{ posted_by }}
                  {% else %}
                  <span class="has-text-grey">Unknown</span>
                  {% endmatch %}
                </td>
                <td>
                  <span class="relative-time"
                    data-timestamp="{{ created_at.timestamp() }}"
                    title="{{ created_at.to_rfc2822() }}">
                    {{ created_at }}
                  </span>
                </td>
                <td>
                  <span class="match-link">
                    <a href="{{ image.best_link() }}" target="_blank">{{ image.best_link() }}</a>
                  </span>
                </td>
                <td class="has-text-centered">
                  <form method="POST">
                    <input type="hidden" name="redirect_url" value="{{ url }}">
                    <input type="hidden" name="site" value="{{ image.site.as_str() }}">
                    <input type="hidden" name="site_username" value="{{ image.posted_by.as_deref().unwrap_or_default() }}">
                    {% match image.poster_pair() %}
                    {% when Some with (poster_pair) %}
                    {% if allowlisted_users.contains_key(poster_pair) %}
                    <button formaction="/user/allowlist/remove" class="button has-tooltip-left" data-tooltip="Receive notifications when this account posts on this site">Un-allowlist Poster</a>
                    {% else %}
                    <button formaction="/user/allowlist/add" class="button has-tooltip-left" data-tooltip="Skip sending notifications when this account posts on this site">Allowlist Poster</a>
                    {% endif %}
                    {% else %}
                    <button class="button is-text" disabled>No Actions Available</button>
                    {% endmatch %}
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-one-third">
        {% endif %}

        {% if !other_events.is_empty() %}
        <hr>

        <h2 class="subtitle has-text-centered">Other Events</h2>

        <ul>
          {% for event in other_events %}
            <li>{{ event.display() }}
              <span class="pl-3 has-text-weight-light has-text-grey relative-time"
                data-timestamp="{{ event.created_at.timestamp() }}"
                title="{{ event.created_at.to_rfc2822() }}">
                {{ event.created_at }}
              </span>
            </li>
          {% endfor %}
        </ul>
        {% endif %}

        <hr>

        <div class="block">
          <form method="POST" action="/user/media/remove">
            <input type="hidden" name="media_id" value="{{ media.id }}">
            <div class="field is-grouped">
              <div class="control is-flex-grow-1">
                <a href="/user/home" class="button is-fullwidth is-outlined is-info">Home</a>
              </div>
              {% match media.link %}
              {% when Some with (link) %}
              <div class="control is-flex-grow-1">
                <a href="{{ link }}" target="_blank" class="button is-fullwidth is-primary">View</a>
              </div>
              {% else %}
              {% endmatch %}
              <div class="control is-flex-grow-1">
                <button class="button is-fullwidth is-danger">Remove Media</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
