<!doctype html>
<html lang="en">

<head data-app-version="{{ env!("CARGO_PKG_VERSION") }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>FuzzySearch OwO</title>

  <link rel="stylesheet" href="/static/main.css?v{{ env!("CARGO_PKG_VERSION") }}">
  <link rel="icon" type="image/png" href="/static/img/favicon.png">

  <script async defer data-website-id="41fafea0-34e2-4cb2-a4b8-50068ef34dec"
    data-domains="owo.fuzzysearch.net" src="https://u.syfaro.com/script.js"></script>

  {% block header %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>FuzzySearch</strong> and <strong>FuzzySearch OwO</strong> are projects developed by <a
          href="https://syfaro.net">Syfaro</a>
      </p>

      <p>
        <a href="https://owo-feedback.fuzzysearch.net" data-umami-event="Feedback" data-umami-event-location="footer">
          View and Share Suggestions
        </a>
      </p>

      <div class="is-align-content-center">
        <picture style="width: 183px; height: 183px;">
          <img src="/static/img/footer@1x.png" srcset="/static/img/footer@1x.png 1x, /static/img/footer@2x.png 2x"
            title="Artwork by bargain bin beasts / @viiverrids" alt="">
        </picture>
      </div>

      <p class="has-text-grey">
        <a href="/changelog">v{{ env!("CARGO_PKG_VERSION") }}</a>
      </p>
    </div>
  </footer>

  <script src="/static/main.js?v{{ env!("CARGO_PKG_VERSION") }}"></script>

  {% block footer %}{% endblock %}
</body>

</html>
