<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FuzzySearch OwO</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">

  <link rel="icon" type="image/png" href="/static/img/favicon.png">

  <script src="https://js.sentry-cdn.com/909283dca3224eba86ff5185341a1c2e.min.js" crossorigin="anonymous"></script>
  <script>
    Sentry.onLoad(() => {
      Sentry.init({
        release: 'fuzzysearch-owo-web@{{ env!("CARGO_PKG_VERSION") }}'
      });
    });
  </script>

  <script async defer data-website-id="41fafea0-34e2-4cb2-a4b8-50068ef34dec" data-host-url="https://u.syfaro.com"
    data-domains="owo.fuzzysearch.net" src="/static/js/event.js"></script>

  {% block header %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>FuzzySearch</strong> and <strong>FuzzySearch OwO</strong> are projects developed by <a
          href="https://syfaro.net">Syfaro</a>
      </p>

      <p>
        <a href="https://owo-feedback.fuzzysearch.net" class="umami--click--feedback-footer">
          View and Share Suggestions
        </a>
      </p>

      <div class="is-align-content-center">
        <picture style="width: 183px; height: 183px;">
          <img src="/static/img/footer@1x.png" srcset="/static/img/footer@1x.png 1x, /static/img/footer@2x.png 2x"
            title="Artwork by bargain bin beasts / @viiverrids" alt="">
        </picture>
      </div>

      <p class="has-text-grey">
        <span>v{{ env!("CARGO_PKG_VERSION") }}</span>
      </p>
    </div>
  </footer>

  <script src="https://unpkg.com/bulma-toast@2.4.1/dist/bulma-toast.min.js"></script>
  <script src="/static/js/app.js"></script>

  {% block footer %}{% endblock %}
</body>

</html>
