{% extends "_base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title has-text-centered">FuzzySearch OwO</h1>

        <article class="message is-danger is-large">
          <div class="message-header">
            <p>{{ status_line }} </p>
          </div>

          <div class="message-body">{{ error_message }}</div>
        </article>

        <div class="control">
          <a href="/" class="button is-link is-fullwidth">Return Home</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
