<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title has-text-centered">Sign In</h1>

        {% match error_message %}
        {% when Some with (msg) %}
        <div class="notification is-danger">{{ msg }}</div>
        {% else %}
        {% endmatch %}

        <form method="POST" action="/auth/login">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="Username" name="username" minlength="5"
                autocomplete="username">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="input" type="password" placeholder="Password" name="password" minlength="8"
                autocomplete="current-password">
            </div>
          </div>

          <div class="buttons">
            <button class="button is-link is-fullwidth">Sign In</button>
            <a class="button is-text is-fullwidth" href="/auth/forgot">Forgot Password?</a>
          </div>
        </form>

        <hr>

        <div class="block has-text-centered">
          <script async src="https://telegram.org/js/telegram-widget.js?15"
            data-telegram-login="{{ telegram_login.bot_username }}" data-size="large"
            data-auth-url="{{ telegram_login.auth_url }}" data-request-access="write"></script>
        </div>

        <hr>

        <a href="/auth/register" class="button is-outline is-primary is-fullwidth"
          data-umami-event="Signup button sign in">Create Account</a>
      </div>
    </div>
  </div>
</section>
