{% extends "_base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title has-text-centered">FuzzySearch OwO</h1>
        <h2 class="subtitle has-text-centered">
          Welcome, {{ user.display_name() }}!
        </h2>

        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Items</p>
              <p class="title">{{ item_count }}</p>
            </div>
          </div>

          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Content Size</p>
              <p class="title">{{ total_content_size|filesizeformat }}</p>
            </div>
          </div>
        </nav>

        <div class="block has-text-centered">
          <h3 class="subtitle is-4">Monitored Accounts</h3>

          {% if user.has_verified_email() %}
          {% if monitored_accounts.is_empty() %}
          <a href="/user/account/link" class="button is-primary is-large">Link First Account</a>
          {% else %}
          <div class="block">
            <ul>
              {% for account in monitored_accounts %}
              <li>
                <a href="/user/account/{{ account.id.to_string() }}">
                  {{ account.source_site.to_string() }} &mdash; {{ account.username }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="block">
            <a href="/user/account/link" class="button is-info is-outlined">Link Another Account</a>
          </div>
          {% endif %}
          {% else if user.has_unverified_email() %}
          <p>
            Verification email sent, please click the link.
          </p>
          {% else %}
          <p>
            Please <a href="/user/email/add">add your email address</a> first.
          </p>
          {% endif %}
        </div>

        <div class="block has-text-centered">
          <h3 class="subtitle is-4">Manual Upload</h3>

          <form method="POST" action="/user/single" enctype="multipart/form-data">
            <div class="field">
              <div class="file is-boxed is-centered has-name">
                <label class="file-label">
                  <input class="file-input" type="file" name="image" accept="image/png, image/jpeg"
                    data-file-name-label="#upload-single-label" multiple>
                  <span class="file-cta">
                    <span class="file-label">Select Photo</span>
                  </span>
                  <span class="file-name" id="upload-single-label">No File Selected</span>
                </label>
              </div>

              <p class="help">
                Upload files you want to be notified about, one at a time.
              </p>
            </div>

            <div class="control">
              <button id="single-upload-button" class="button is-link is-fullwidth is-outlined" disabled>Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% if !recent_media.is_empty() %}
    <div class="columns is-centered">
      <div class="column has-text-centered">
        <h2 class="subtitle is-4">Recent Media</h2>

        {% for item in recent_media %}
        {% match item.thumb_url %}
        {% when Some with (thumb_url) %}
        <figure class="image is-128x128 is-inline-block" style="overflow: hidden;">
          <a href="/user/media/view/{{ item.id }}">
            {% match item.content_url %}
            {% when Some with (content_url) %}
            <img src="{{ thumb_url }}" alt="{{ item.alt_text() }}">
            {% else %}
            <img src="{{ thumb_url }}" alt="{{ item.alt_text() }}">
            {% endmatch %}
          </a>
        </figure>
        {% else %}
        {% endmatch %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="columns is-centered">
      <div class="column is-one-third">
        {% if item_count > 20 %}
        <div class="control">
          <a href="/user/media/list" class="button is-link is-fullwidth">View All Media</a>
        </div>
        {% endif %}

        <hr>

        <div class="block">
          <form method="POST" action="/auth/logout">
            <div class="field">
              <a class="button is-primary is-fullwidth" href="/user/settings">Settings</a>
            </div>

            <div class="field is-grouped">
              <div class="control is-flex-grow-1">
                <button class="button is-danger is-outlined is-fullwidth">Sign Out</button>
              </div>

              <div class="control is-flex-grow-1">
                <a class="button is-info is-outlined is-fullwidth" href="/auth/sessions">Active Sessions</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
