{% import "_pagination.html" as pagination %}

{% macro site_option(site, selected) %}
  {% let is_selected = selected.contains(site) %}
  <option value="{{ site }}" {% if is_selected %}selected{% endif %}>
    {{ site }}
  </option>
{% endmacro %}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title has-text-centered">Settings</h1>

        {% match saved_message %}
        {% when Some with ((successful, saved_message)) %}
        <div class="notification {% if successful %} is-success {% else %} is-danger {% endif %}">
          <p>{{ saved_message }}</p>
        </div>
        {% else %}
        {% endmatch %}

        <form method="POST">
          <div class="block">
            <h2 class="subtitle is-4">Profile</h2>

            <div class="field">
              <label class="label" for="profile-name">Name</label>
              <div class="control">
                <input class="input" type="text" placeholder="Name" name="display-name"
                  value="{{ user.display_name() }}" id="profile-name" required>
              </div>
            </div>
          </div>

          <div class="block">
            <h2 class="subtitle is-4">Notifications</h2>

            <h3 class="subtitle is-5">
              <span class="icon-text">
                <span class="icon">
                  <i class="bi bi-mailbox2-flag"></i>
                </span>
                <span>Email</span>
              </span>
            </h3>

            <div class="field">
              <label class="label" for="profile-email">Email address</label>
              <div class="control">
                <input class="input" type="email" placeholder="Email" name="email"
                  value="{{ user.email.as_deref().unwrap_or_default() }}" id="profile-email" autocomplete="email">
              </div>

              {% if user.has_unverified_email() %}
              <p class="help">A link was sent to your email address, please follow it to verify your account.</p>
              {% endif %}
            </div>

            <div class="field">
              <label class="label" for="email-frequency">Email frequency</label>

              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="email-frequency" id="email-frequency" {% if user.email_verifier.is_some() %} disabled {% endif %}>
                    {% call pagination::option("Never", "never", email_frequency) %}
                    {% call pagination::option("Instantly", "instantly", email_frequency) %}
                    {% call pagination::option("Daily", "daily", email_frequency) %}
                    {% call pagination::option("Weekly", "weekly", email_frequency) %}
                  </select>
                </div>
              </div>

              {% if user.email_verifier.is_some() %}
              <p class="help">You must verify your email address before receiving notifications.</p>
              {% else %}
              <p class="help">
                Select how frequently you want to receive emails.
                The daily and weekly options aggregate notifications into a single email for that time period.
              </p>
              {% endif %}
            </div>

            <h3 class="subtitle is-5">
              <span class="icon-text">
                <span class="icon">
                  <i class="bi bi-telegram"></i>
                </span>
                <span>Telegram</span>
              </span>
            </h3>

            <div class="field">
              <label class="checkbox" for="telegram-notifications">
                <input type="checkbox" id="telegram-notifications" name="telegram-notifications"
                  {% if user.telegram_id.is_none() %} disabled {% else if telegram_notifications.0 %} checked {% endif %}>
                Send Telegram messages
              </label>

              {% if user.telegram_id.is_none() %}
              <p class="help">You must add your Telegram account first.</p>

              <div class="block has-text-centered">
                <script async src="https://telegram.org/js/telegram-widget.js?15"
                  data-telegram-login="{{ telegram_login.bot_username }}" data-size="large"
                  data-auth-url="{{ telegram_login.auth_url }}" data-request-access="write"></script>
              </div>
              {% else %}
              <p class="help">Telegram messages are sent as soon as matches are found.</p>
              {% endif %}
            </div>
          </div>

          <div class="block">
            <h2 class="subtitle is-4">Sites</h2>

            <div class="field">
              <label class="label" for="skipped-sites">Skipped sites</label>
              <div class="select is-multiple is-fullwidth">
                {% let sites = Site::visible_sites() %}
                <select name="skipped-sites" id="skipped-sites" multiple size="{{ sites.len() }}">
                  {% for site in sites %}
                    {% call site_option(site, skipped_sites.0) %}
                  {% endfor %}
                </select>
              </div>

              <p class="help">
                Any images posted to sites selected here will <strong>not</strong> generate notifications.
              </p>
            </div>
          </div>

          <div class="block">
            <h2 class="subtitle is-4">Others</h2>

            <div class="field">
              <label class="checkbox" for="is-tester">
                <input type="checkbox" id="is-tester" name="is-tester" {% if user.is_tester %} checked {% endif %}>
                <span class="icon-text">
                  <span class="icon has-text-info">
                    <i class="bi bi-lightning-charge-fill"></i>
                  </span>
                  <span>
                    Opt into early-access features
                  </span>
                </span>
              </label>

              <p class="help">
                Get access to features that might not be complete yet.
              </p>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-primary is-fullwidth">
                <span class="icon-text">
                  <span class="icon">
                    <i class="bi bi-floppy-fill"></i>
                  </span>
                  <span>Save Settings</span>
                </span>
              </button>
            </div>
          </div>

          <div class="block mt-6">
            <h2 class="subtitle is-4">Security</h2>

            <p class="help mt-3">
              You may reset your password after adding an email address by
              completing the forgot password process.
            </p>

            <div class="field mt-5">
              <h3 class="subtitle is-5">
                <span class="icon-text">
                  <span class="icon">
                    <i class="bi bi-person-fill-lock"></i>
                  </span>
                  <span>Sessions</span>
                </span>
              </h3>

              <div class="control">
                <a class="button is-link is-outlined" href="/auth/sessions">
                  Active Sessions
                </a>
              </div>
            </div>

            {% if passkeys_enabled %}
            <div class="field mt-5">
              <h3 class="subtitle is-5 mt-3">
                <span class="icon-text">
                  <span class="icon">
                    <i class="bi bi-lightning-charge-fill"></i>
                  </span>
                  <span>Passkeys</span>
                </span>
              </h3>

              <div class="control">
                <button class="button is-info" id="passkey-add">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="bi bi-plus"></i>
                    </span>
                    <span>Add Passkey</span>
                  </span>
                </button>
              </div>

              {% if !passkeys.is_empty() %}
              <div class="control mt-3">
                <label class="label" for="registered-passkeys">Registered Passkeys</label>

                <div class="table-container">
                  <table class="table is-narrow is-fullwidth" id="registered-passkeys">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Last Used</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for passkey in passkeys %}
                      <tr>
                        <th>{{ passkey.name }}</th>

                        <td>
                          {% match passkey.last_used %}
                          {% when Some with (last_used) %}
                          <span class="relative-time" data-timestamp="{{ last_used.timestamp() }}">
                            {{ last_used }}
                          </span>
                          {% else %}
                          <span class="has-text-grey">Unused</span>
                          {% endmatch %}
                        </td>

                        <td class="has-text-right">
                          <button class="button is-small is-danger is-light" name="credential_id"
                            value="{{ hex::encode(passkey.credential_id) }}"
                            formaction="/auth/webauthn/remove">Remove</button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              {% endif %}
            </div>
            {% endif %}
          </div>

          <div class="block mt-6">
            <h2 class="subtitle is-4">Integrations</h2>

            <div class="field">
              <h3 class="subtitle is-5">RSS Feed</h3>

              <a type="application/rss+xml" class="button" href="/user/feed/rss?u={{ user.id.as_url() }}&t={{ user.rss_token.as_url() }}">
                <span class="icon-text">
                  <span class="icon">
                    <i class="bi bi-rss-fill"></i>
                  </span>
                  <span>Subscribe to RSS feed</span>
                </span>
              </a>
            </div>

            <div class="field mt-5">
              <h3 class="subtitle is-5">API Access</h3>

              <label class="label" for="api-username">Username</label>
              <div class="control">
                <input type="text" class="input click-copy" value="{{ user.id.as_url() }}" id="api-username" readonly>
              </div>

              <label class="label" for="api-password">Password</label>
              <p class="control has-icons-right">
                <input type="password" class="input click-copy hover-reveal" value="{{ user.api_token.as_url() }}" id="api-password" readonly>
              </p>

              <p class="help">
                You may use this username and password for basic auth to upload
                new images by sending a POST request to <code>/api/upload</code>.
                Use a multipart form, putting images in a field named
                <code>image</code>.
              </p>
            </div>
          </div>

          <div class="field mt-6">
            <div class="control">
              <button id="delete-account" class="button is-danger is-outlined" formaction="/user/delete">
                <span class="icon-text">
                  <span class="icon">
                    <i class="bi bi-trash-fill"></i>
                  </span>
                  <span>Delete Account</span>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
