{% extends "_base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title has-text-centered">FuzzySearch OwO</h1>
        <h2 class="subtitle has-text-centered">Verify Email Address</h2>

        <p>
          Hi {{ user.display_name() }}, please click the button below to
          verify your email address.
        </p>

        <form method="POST" class="mt-4">
          <input type="hidden" name="u" value="{{ user.id }}">
          <input type="hidden" name="v" value="{{ verifier }}">

          <div class="field">
            <div class="control">
              <button class="button is-primary is-fullwidth">Verify Email Address</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
